<div class="modal-header">
    <h5 class="modal-title">Detalles de la Solicitud</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <!-- Columna 1 -->
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label font-weight-bold text-dark"> <strong>Descripción:</strong></label>
          <p>{{ solicitud.descripcion_solicitud }}</p>
        </div>
        <div class="mb-3">
          <label class="form-label font-weight-bold text-dark"><strong>Cédula:</strong></label>
          <p>{{ solicitud.id_ciudadano_solicitud }}</p>
        </div>
        <div class="mb-3">
          <label class="form-label font-weight-bold text-dark"><strong>Fecha de Creación:</strong></label>
          <p>{{ solicitud.fecha_creacion_solicitud | date: 'yyyy-MM-dd' }}</p>
        </div>
        <div class="mb-3">
          <label class="form-label font-weight-bold text-dark"><strong>Tipo de Solicitud:</strong></label>
          <p>{{ solicitud.tipo_solicitud?.descripcion_tipo_solicitud }}</p>
        </div>
        <div class="mb-3">
          <label class="form-label font-weight-bold text-dark"><strong>Ubicación:</strong></label>
          <p>{{ solicitud.ubicacion?.descripcion_ubicacion }}</p>
        </div>
      </div>
  
      <!-- Columna 2 -->
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label font-weight-bold text-dark"><strong>Geolocalización:</strong></label>
          <div class="map-container" style="width: 60%; height: 130px;">
            <div id="map" style="width: 100%; height: 100%; border-radius: 10px;"></div>
          </div>
        </div>
        <div class="mb-3" *ngIf="solicitud.foto_solicitud">
          <label class="form-label font-weight-bold text-dark"><strong>Foto:</strong></label><br>
          <div class="map-container" style="width: 70%; height: 130px;">
            <img [src]="solicitud.foto_solicitud" alt="Foto de la solicitud" class="img-fluid" style="max-width: 100%; height: 100%; border-radius: 10px;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cerrar</button>
  </div>