<div class="container">
  <div class="row">
    <div class="col-1">.col-9</div>
    <div class="col-10">
      <br>
      <br>
      <br>
      <H1>Ciudadanos</H1>
      <br>
      <br>

      <!-- Filtros de búsqueda -->
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <label for="inputPassword6" class="col-form-label">Cédula</label>
        </div>
        <div class="col-auto">
          <input type="number" id="inputPassword6" class="form-control">
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-success me-2">Buscar</button>
          <button type="button" class="btn btn-secondary me-2">Limpiar</button>
          <button type="button" class="btn btn-primary" >Crear Ciudadano</button>
        </div>
      </div>

      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ciudadano of ciudadanos">
            <td>{{ ciudadano.nombre_ciudadano }}</td>
            <td>{{ ciudadano.apellido_ciudadano }}</td>
            <td>{{ ciudadano.telefono_ciudadano }}</td> 
            <td>
              <!-- Botón para ver detalles -->
              <button class="btn btn-link p-0 text-reset" title="Ver detalles"
                      (click)="abrirModalDetalles(ciudadano)">
                <i class="bi bi-eye-fill me-4"></i>
              </button>
              <!-- Botón para editar -->
              <button class="btn btn-link p-0 text-reset" title="Editar" 
                      (click)="abrirModalEditar(ciudadano)">
                <i class="bi bi-pencil-fill me-4"></i>
              </button>
              <!-- Botón para eliminar -->
              <button class="btn btn-link p-0 text-reset" title="Eliminar" >
                <i class="bi bi-trash-fill"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-1">COL</div>
  </div>
</div>
