<form>
    <label for="nombre">Nombre:</label>
    <input id="nombre" [(ngModel)]="ciudadano.nombre_ciudadano" name="nombre_ciudadano" />
  
    <label for="apellido">Apellido:</label>
    <input id="apellido" [(ngModel)]="ciudadano.apellido_ciudadano" name="apellido_ciudadano" />
  
    <label for="correo">Correo Electrónico:</label>
    <input id="correo" [(ngModel)]="ciudadano.correo_electronico_ciudadano" name="correo_electronico_ciudadano" />
  
    <label for="telefono">Teléfono:</label>
    <input id="telefono" [(ngModel)]="ciudadano.telefono_ciudadano" name="telefono_ciudadano" />
  
    <label for="fechaNacimiento">Fecha de Nacimiento:</label>
    <input id="fechaNacimiento" [(ngModel)]="ciudadano.fecha_nacimiento_ciudadano" name="fecha_nacimiento_ciudadano" type="date" />
  
    <label for="geolocalizacion">Ubicación Geográfica:</label>
    <input id="geolocalizacion" [(ngModel)]="ciudadano.geolocalizacion" name="geolocalizacion" />
  </form>
  